In [1]:
X = ['Shrikant', 21, 'Data Scientist']
for i in X:
    print(i)

Shrikant
21
Data Scientist

In [2]:
X = "SHRIKANT"
for i in X:
    print(i)

S
H
R
I
K
A
N
T

In [5]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(11, 21, 1):   #(starting number, end number, differace between two numbers)
    print(i)

11
12
13
14
15
16
17
18
19
20

In [9]:
for i in range(11, 21, 2):
    print(i)

11
13
15
17
19

In [10]:
for i in range(20, 10, -1):
    print(i)

20
19
18
17
16
15
14
13
12
11

In [11]:
for i in range(10):
    if i !=5:
        print(i)

0
1
2
3
4
6
7
8
9

In [12]:
for i in range(10):
    if i == 5:
        print('The number is 5')

The number is 5

In [17]:
for i in range(61):
    if i>50:
        print(i)

51
52
53
54
55
56
57
58
59
60

In [22]:
X = int(input("Enter a Number:"))
for i in range(X+1):
    for j in range(i, X-1):
        print(i)

Enter a Number:5
0
0
0
0
1
1
1
2
2
3

In [23]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [29]:
X = ['Shrikant', 'Amol', 'Sanket', 'Saurabh', 'Vishakha', 'Ashwini', 'Akshada']
for word in X:
    print('The following line will print each latter of ' +word)
    for letter in word:
        print(letter)

The following line will print each latter of Shrikant
S
h
r
i
k
a
n
t
The following line will print each latter of Amol
A
m
o
l
The following line will print each latter of Sanket
S
a
n
k
e
t
The following line will print each latter of Saurabh
S
a
u
r
a
b
h
The following line will print each latter of Vishakha
V
i
s
h
a
k
h
a
The following line will print each latter of Ashwini
A
s
h
w
i
n
i
The following line will print each latter of Akshada
A
k
s
h
a
d
a

In [30]:
for i in range(10):
    print("The Number is: ", i)

The Number is:  0
The Number is:  1
The Number is:  2
The Number is:  3
The Number is:  4
The Number is:  5
The Number is:  6
The Number is:  7
The Number is:  8
The Number is:  9

In [35]:
for i in range(10):
    if i == 5:
        print(i)
        break

5

In [53]:

for i in range(10):
    if i > 0:
        print(i*i)

1
4
9
16
25
36
49
64
81

In [54]:
for i in range(10):
    if i > 0:
        print(i*i*i)

1
8
27
64
125
216
343
512
729

In [56]:
for i in range(10):
    if i > 0:
        print(i*(i-1))

0
2
6
12
20
30
42
56
72